@import "tailwindcss";

@theme {
  --color-brand-dark: #020617;
  --color-brand-surface: #0f172a;
  --color-brand-accent: #06b6d4;
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-brand-dark text-slate-200 antialiased selection:bg-cyan-500/30;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-3xl border border-white/10 shadow-2xl;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full;
}